<%- include("partials/header-level", { cssLink: "/css/api-modes.css", pageTitle: "10 Rounds" }) %>
        <main>       
            <div>
                <img src="/images/ROTK_eye_of_sauron.jpg" alt="Quiz afbeelding" id="background-quiz" class="quiz-image">
                <img style="display: none;" src="/images/elrond-st-anthony.jpg" alt="Quiz afbeelding" id="wrong-answer" class="quiz-image">
                <img style="display: none;" src="/images/lotrhappy.jpg" alt="Quiz afbeelding" id="right-answer" class="quiz-image">                 
            </div>

            <div class="completion-bar">
                <div id="progress-bar" style="width: 0%;"></div> 
            </div>
            
            <p id="quote"></p>

            <section id="buttons">
                <div id="buttons-left">         
                    <i class="fas fa-user non-clickable"></i>           
                    <button id="button1" class="answers"></button>
                    <button id="button2" class="answers"></button>
                    <button id="button3" class="answers"></button>               
                </div>

                <div id="buttons-right">   
                    <i class="fas fa-film non-clickable"></i>                 
                    <button id="button4" class="answers"></button> 
                    <button id="button5" class="answers"></button> 
                    <button id="button6" class="answers"></button> 
                </div>
            </section>

            <div id="final-score" style="display: none; flex-direction: column; align-items: center; color: white; font-size: 20px;">
                <h2>Gefeliciteerd! 🎉</h2>
                <p>Je hebt de quiz voltooid.</p>
                <p id="final-points"></p>
                <p id="high-score" style="margin-top: 10px; font-weight: bold;"></p>
                <a href="/home" style="text-decoration: none; color: gold;">Terug naar home</a>
            </div>
        </main>
<%- include('partials/footer-level', { scriptLink: "/js/10rounds.js" }) %>