<%- include("partials/header-level", { cssLink: "/css/main.css" }) %>

        <p id="timer" style="text-align: center;">15</p>

        <main>       
            <div>
                <img src="/images/blitz.png" alt="Quiz afbeelding" id="background-quiz" class="quiz-image">
                <img style="display: none;" src="/images/elrond-st-anthony.jpg" alt="Quiz afbeelding" id="wrong-answer" class="quiz-image">
                <img style="display: none;" src="/images/lotrhappy.jpg" alt="Quiz afbeelding" id="right-answer" class="quiz-image">                 
            </div>
            <div id="timer-container">
                <div id="timer-bar"></div>
            </div>            
            <p id="quote"></p>

            <div id="buttons">
                <button id="button1" class="answers"></button>
                <button id="button2" class="answers"></button>
                <button id="button3" class="answers"></button>            
            </div>                
        </main>
<%- include('partials/footer-level', { scriptLink: "/js/blitz.js" }) %>