<%- include("partials/header-level", { cssLink: "/css/main.css" }) %>
        <main>       
            <div>
                <img src="/images/ROTK_eye_of_sauron.jpg" alt="Quiz afbeelding" id="background-quiz" class="quiz-image">
                <img style="display: none;" src="/images/elrond-st-anthony.jpg" alt="Quiz afbeelding" id="wrong-answer" class="quiz-image">
                <img style="display: none;" src="/images/lotrhappy.jpg" alt="Quiz afbeelding" id="right-answer" class="quiz-image">                 
            </div>

            <div class="completion-bar">
                <div id="progress-bar" style="width: 0%;"></div> 
            </div>
            
            <p id="quote"></p>

            <div id="buttons">
                <button id="button1" class="answers"></button>
                <button id="button2" class="answers"></button>
                <button id="button3" class="answers"></button>            
            </div>             
        </main>
<%- include('partials/footer-level', { scriptLink: "/js/daily-challenge.js" }) %>