<%- include('partials/header', {title: 'Home', cssLink: '/css/home.css', iconsWeb: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"}) %>
    <div class="title-container">
        <h1>RingBearers</h1>
    </div>

        <h2>Kies je categorie</h2>

        <div class="mode-selection">
            <button class="daily-challenge" onclick="startGame('daily-challenge')">Dagelijkse Challenge</button>
            <button class="rounds10" onclick="startGame('10rounds')">10 Rounds</button>
            <button class="hard" onclick="startGame('hard')">Moeilijk</button>
            <button class="sudden-death" onclick="startGame('sudden-death')">Sudden Death</button>
            <button class="blitz" onclick="startGame('blitz')">Blitz Modus</button>
            <button class="team-battle" onclick="startGame('team-battle')">Samen met vrienden tegen anderen</button>
        </div>
    </div>

    <script>
        function navigateTo(page) {
            window.location.href = page;
        }

        function startGame(mode) {
            
            window.location.href = "/" + mode; 
        }
    </script>

    <footer class="bottom-nav">       
    <a href="/settings"><button><i class="fas fa-cog"></i></button></a>
    <a href="/friendlist"><button><i class="fas fa-user-friends"></i></button></a>
    <a href="/scoreboard"><button><i class="fas fa-trophy"></i></button></a>
    <a href="/inbox"><button><i class="fas fa-envelope"></i></button></a>
    <a href="/shop"><button><i class="fas fa-store"></i></button></a>
</footer>

</body>
</html>