<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/projects.css">
</head>
<body id="projects-body">
    <header>
        <h1 id="header-title">Kies een game en ervaar de spanning!</h1>
    </header>
    <main id="projects-container">        
        <img class="project-photos" src="/images/projects/fifa.jpg" alt="Projecten afbeeldingen">
        <img class="project-photos" src="/images/projects/fortnite.jpg" alt="Projecten afbeeldingen">
        <img class="project-photos" src="/images/projects/legomaster.jpg" alt="Projecten afbeeldingen">
        <a href="/login"><img class="project-photos" src="/images/projects/lotr.jpg" alt="Projecten afbeeldingen"></a>
        <img class="project-photos" src="/images/projects/mtg.jpg" alt="Projecten afbeeldingen">
        <img class="project-photos" src="/images/projects/pokemon.jpg" alt="Projecten afbeeldingen">    
    </main>    
    <script src="/js/projects.js"></script>
</body>
</html>