<%- include('partials/header', {title: 'Scorebord', cssLink: '/css/scoreboard.css', iconsWeb: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"}) %>
    <div class="scoreboard-container">
        <header>
            <a href="/home" class="back-button">
                <i class="arrow-icon fas fa-arrow-left"></i>Terug 
            </a>
            <h1 class="scoreboard-title">Scorebord</h1>
        </header>
        <div id="score-list">
            <ul id="scoreboard">
            </ul>
        </div>
    </div>
    <script src="/js/scoreboard.js"></script>
</body>
</html>
