<%- include('partials/header', {title: 'Shop', cssLink: '/css/shop.css', iconsWeb: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"}) %>
    <div class="container">
        <a href="/home"><button id="terug-knop">Terug</button></a>
        <h1>Welkom bij de Shop!</h1>               
        
        <div id="shop-items">
            <h2>Achtergronden</h2>
            <div class="item-container">
                <div class="item">
                    <div class="item-image" style="background-image: url('/images/shop/wal1.jpg');"></div>
                    <p style="color: rgb(104, 192, 243); font-weight: bold;">50</p>
                    <button onclick="openConfirmModal('Achtergrond 1', 50, 'background', '/images/shop/wal1.jpg')">💎</button>
                </div>
                <div class="item">
                    <div class="item-image" style="background-image: url('/images/shop/wal2.jpg');"></div>
                    <p style="color: rgb(104, 192, 243); font-weight: bold;">50</p>
                    <button onclick="openConfirmModal('Achtergrond 2', 50, 'background', '/images/shop/wal2.jpg')">💎</button>
                </div>
                <div class="item">
                    <div class="item-image" style="background-image: url('/images/shop/wal3.jpg');"></div>
                    <p style="color: rgb(104, 192, 243); font-weight: bold;">50</p>
                    <button onclick="openConfirmModal('Achtergrond 3', 50, 'background', '/images/shop/wal3.jpg')">💎</button>
                </div>
                <div class="item">
                    <div class="item-image" style="background-image: url('/images/shop/wal4.jpg');"></div>
                    <p style="color: rgb(104, 192, 243); font-weight: bold;">50</p>
                    <button onclick="openConfirmModal('Achtergrond 4', 50, 'background', '/images/shop/wal4.jpg')">💎</button>
                </div>
            </div>

            <h2>Avatars</h2>
            <div class="avatar-wrapper">
                <div class="avatar-item">
                    <img src="/images/shop/ava3.png" alt="Avatar: dohuka" class="avatar-image" />
                    <h3>dohuka</h3>
                    <p style="color: rgb(104, 192, 243); font-weight: bold;">500</p>
                    <button onclick="openConfirmModal('Avatar: dohuka', 500, 'avatar', '/images/shop/ava3.png')">💎</button>
                </div>
            
                <div class="avatar-item">
                    <img src="/images/shop/ava1.png" alt="Avatar: Saniya" class="avatar-image" />
                    <h3>Saniya</h3>
                    <p style="color: rgb(104, 192, 243); font-weight: bold;">600</p>
                    <button onclick="openConfirmModal('Avatar: Saniya', 600, 'avatar', '/images/shop/ava1.png')">💎</button>
                </div>
            
                <div class="avatar-item">
                    <img src="/images/shop/ava2.png" alt="Avatar: Legolas" class="avatar-image" />
                    <h3>Loron</h3>
                    <p style="color: rgb(104, 192, 243); font-weight: bold;">650</p>
                    <button onclick="openConfirmModal('Avatar: Loron', 650, 'avatar', '/images/shop/ava2.png')">💎</button>
                </div>
            </div>

            <div id="confirm-modal" class="modal hidden">
                <div class="overlay" onclick="closeModal()"></div>
                <div class="modal-content">
                    <h2>Wil je dit item kopen?</h2>
                    <p id="modal-item-name"></p>
                    <p id="modal-item-price"></p>
                    <div class="modal-buttons">
                        <button class="btn-confirm" onclick="confirmPurchase()">✓</button>
                        <button class="btn-cancel" onclick="closeModal()">✗</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/shop.js"></script>
</body>
</html>