<%- include("partials/header-level", { cssLink: "/css/api-modes.css" }) %>
        <main>       
            <div>
                <img src="/images/ROTK_eye_of_sauron.jpg" alt="Quiz afbeelding" id="background-quiz" class="quiz-image">
                <img style="display: none;" src="/images/elrond-st-anthony.jpg" alt="Quiz afbeelding" id="wrong-answer" class="quiz-image">
                <img style="display: none;" src="/images/lotrhappy.jpg" alt="Quiz afbeelding" id="right-answer" class="quiz-image">
                <div id="game-over" style="display: none; color: red; font-size: 3em; text-align: center;">Game Over</div>                 
            </div>

            <div class="completion-bar">
                <div id="progress-bar" style="width: 0%;"></div> 
            </div>
            
            <p id="quote"></p>


            <section id="buttons">
                <div id="buttons-left">         
                    <i class="fas fa-user non-clickable"></i>           
                    <button id="button1" class="answers"></button>
                    <button id="button2" class="answers"></button>
                    <button id="button3" class="answers"></button>               
                </div>

                <div id="buttons-right">   
                    <i class="fas fa-film non-clickable"></i>                 
                    <button id="button4" class="answers"></button> 
                    <button id="button5" class="answers"></button> 
                    <button id="button6" class="answers"></button> 
                </div>
            </section>
        </main>
<%- include('partials/footer-level', { scriptLink: "/js/sudden-death.js" }) %>