<%- include("partials/header-level") %>
        <main>       
            <div>
                <img src="./images/team_battle.png" alt="Quiz afbeelding" id="background-quiz" class="quiz-image">
                <img style="display: none;" src="./images/elrond-st-anthony.jpg" alt="Quiz afbeelding" id="wrong-answer" class="quiz-image">
                <img style="display: none;" src="./images/lotrhappy.jpg" alt="Quiz afbeelding" id="right-answer" class="quiz-image">                 
            </div>

        
            <p id="quote"></p>

            <div class="player-container">
                <!-- Player A Board -->
                <div class="player-board" id="playerA">
                    <h2>Speler A</h2>
                    <div id="questionA"></div>
                    <button class="answer-btn" style="display: none;" onclick="submitAnswer('A')">Antwoord</button>
                    <div id="timerA">30</div>
                </div>

                <!-- Player B Board -->
                <div class="player-board" id="playerB">
                    <h2>Speler B</h2>
                    <div id="questionB"></div>
                    <button class="answer-btn" style="display: none;" onclick="submitAnswer('B')">Antwoord</button>
                    <div id="timerB">30</div>
                </div>
            </div>

            <div id="buttons">
                <button id="button1" class="answers"></button>
                <button id="button2" class="answers"></button>
                <button id="button3" class="answers"></button>            
            </div> 
        </main>       
    </div>
    <script src="team-battle.js"></script> <!--deze in partials zetten vanaf html einde tot einde div-->
</body>
</html>
