*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

h1 {
    text-align: center;  
    color: white;        
}

body{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: url('/images/lord-of-the-rings-amazon-studios.png.webp') no-repeat;
    background-size: cover;
    background-position: center;    
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.game-container {
    border: 5px solid white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 780px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.6); 
    margin-top: 10px;
    margin-bottom: 10px; 
}

header{
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;  
    margin-bottom: 20px; 
}

.level-info{   
    background-color: rgba(50, 50, 50, 0.9);     
    border: 2px solid white; 
    box-shadow: 0 0 10px;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;  
    color: gold;   
    font-size: 27px;
}

.fas{
    font-size: 50px; 
    color: white; 
    cursor: pointer;
}

.fas:hover{
    color: gold;
}

.non-clickable {      
    pointer-events: none; 
}

.non-clickable:hover {
    color: white; 
}

.quiz-image {
    display: flex;
    margin: 25px auto;
    width: 450px;
    max-width: 100%;
    height: 250px;
    border: black 5px solid;
    border-radius: 8px;
}

.completion-bar {
    width: 450px; 
    max-width: 550px; 
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    margin-left: auto;  
    margin-right: auto; 
}

#progress-bar{
    height: 100%;
    background-color: gold; 
    border-radius: 10px;
    transition: width 0.3s ease;
}

#quote{
    text-align: center;
    color: white;
    font-size: 21px;
    margin-bottom: 22px;
}

#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#buttons-left{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-right: 10px;
    gap: 20px;
}

#buttons-right{
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-left: 10px;
    gap: 20px;
}

#buttons-left, #buttons-right {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.answers{
    background-color: rgba(50, 50, 50, 0.9); 
    color: white; 
    border: 2px solid white; 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    width: 350px;
    display: inline-block;

    animation-name: spawning-in;
    animation-duration: 1s; 
    animation-fill-mode: forwards; 
    animation-timing-function: ease-in-out; 
}

.answers:hover{
    background-color: gold;
    color: black;
}

@keyframes spawning-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}